body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    display: grid;
    background-color: rgb(26, 163, 255);
    grid-row: 1 / 3;
    align-content: start;
    row-gap: 36px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 24px;
}

.sidebar-top {
    font-size: 32px;
    align-items: center;
}

.header {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-top-left {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    gap: 10px;
}

.search-icon {
    justify-self: end;
}

input {
    width: 90%;
    height: 36px;
    border-radius: 16px;
    border: none;
    background-color:azure;
}

input:focus {
    outline: none;
    border: 2px solid red;
}

.header-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.notification-icon {
    justify-self: end;
}

.user-name {
    justify-self: start;
}


.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 16px;
}

.bottom-user-icon {
    justify-self: end;
}

p {
    margin: 8px;
    font-weight: bolder;
}

.invite {
    font-size: 16px;
}

.name {
    font-size: 24px;
}


.header-bottom-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.main-content {
    background-color: brown;
}

.svg-sidebar path {
    fill: white;
}

.middle,
.sidebar-top,
.bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

.logo {
    justify-self: end;
}

.sidebar-middle,
.sidebar-bottom {
    display: grid;
    gap: 8px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease;
}

a:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}